<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->

<div class="buffer"></div>
<nav class='pink darken-4' ng-controller="NavbarCtrl">
  <ul id="slide-out" class="side-nav blue-grey darken-1">
    <li><a href="/#/jobs" class="white-text"><h4>Jobs</h4></a></li>
    <li><a href="/#/profile" class="white-text"><h4>Profile</h4></a></li>
    <li><a href="/#/logout"  ng-click="logout()" class="white-text"><h4>Logout</h4></a></li>
    <li class="no-padding">
    </li>
  </ul>
    <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
</nav>



  <div id="container" ng-controller='ProfileCtrl'>
    <div class="user container">
      <div class="row">
        <div class="col s6">
          <div class="card large">
            <div class="card-image waves-effect waves-block waves-light" id="lr">
              <img src="{{ currentUser.profileInfo.profilePicUrl }}?type=large " class="profPic activator">
              <h5 class="center-align">Click for more information.</h5>
            </div>
            <div class="card-content">
              <span class="card-title activator blue-grey-text text-darken-1">{{ currentUser.name }} <i class="mdi-navigation-more-vert right"></i></span>
              <p class='blue-grey-text text-darken-1'>Karma level: 0
                <br >{{ currentUser.email }}
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4" class='blue-grey-text text-darken-1'>About {{ currentUser.name }}:<i class="mdi-navigation-close right"></i></span>
              <textarea ng-model="currentUser.profileInfo.about" contenteditable='true' ng-blur='updateProfileInfo()' class='blue-grey-text text-darken-1'>{{ currentUser.profileInfo.about }}</textarea>
            </div>
          </div>
        </div>
        <div class='col s6' id="profileSkills">
          <div class='card large'>
            <h3 class='blue-grey-text text-darken-1 center-align'>Skills</h3>
            <div ng-model="currentUser.profileInfo.skills" class="input-field col s6" id="hg">
              <input id="skill_name" type="text" class="validate" ng-model='currentUser.profileInfo.newSkill' ng-keyup="updateProfileInfo()">
              <label for="skill_name">Add your unique skills!</label>
              <ul class='collection'>
                <li ng-repeat='skill in currentUser.profileInfo.skills track by $index' class="collection-item blue-grey-text text-darken-1">{{ skill }}</li>
              </ul>
          </div>
        </div>
        </div>
      </div>


<script>
  $(document).ready(function() {
    $('.button-collapse').sideNav({
      menuWidth: 300,
      edge: 'left',
      closeOnClick: true
    });

    $('.collapsible').collapsible();
  });
</script>
